// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;


// Primary Colors Dark 


$one: #08b3e2;
$two: #4Fa2cf;
$three: #03b7e5;
$four: #0887b4;
$five: #0887B4;

$six: #1A4686;
$seven: #223971;
$eight: #1C3E72;
$nine: #1b2855;
$ten :#1A4686;
