.scroll {
    max-height: 250px;
    overflow-y: auto;
}

.font-content {
    font-family: Roboto, Helvetica, Arial, sans-serif;
}

.nav-bg{
    background: url('http://localhost:8000/img/head.jpg');
}