.scroll {
    max-height: 250px;
    overflow-y: auto;
}

.font-content {
    font-family: Roboto, Helvetica, Arial, sans-serif;
}

.nav-bg{
    background: url('https://staging.lapulapucity.gov.ph/llc-web/public/img/head.jpg');
}

body {

    font-family: 'Lato', sans-serif;
  }