.scroll {
    max-height: 300px;
    overflow-y: auto;
}
.scroll-lg {
    max-height: 655px;
    overflow-y: auto;
}

.fc-event-time, .fc-event-title {
    padding: 0 1px;
    white-space: nowrap;

}

.fc-title {
    color:white;
    white-space: normal;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.font-content {
    font-family: Roboto, Helvetica, Arial, sans-serif;
}

.nav-bg{

    background: url('/img/head.jpg');
    background-size: cover;
    background-position: center;
    height: 200px;

}

body {

    font-family: 'Lato', sans-serif;
  }

  .slider{

        background: url('/img/500.png');
        background-position: left;
        background-repeat: no-repeat;
        background-size: cover;
}

.posts{
    background: url('/img/500-white-bg.png');
    background-color: rgb(240, 240, 240);
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
}

.post:hover{
    background-color: #c5f2ff;
}

.content {
    /* background: url('/img/tribal-2.png'); */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

p{
    font-size: 12px;
}

.bg_gray {
    background-size: 100% 0%;
    background-color: gray;
    background-position: relative;
    max-width: 100vw;
}

.toggle_title, .toggle_content {
    position:relative;
    z-index:2;
}

.toggle:before {
    content:"";
    width:4000px;
    position:absolute;
    height:100%;
    background-color:red;
    left:-50%;
    z-index:1
}

.modal-xl{
    max-width: 82vw;
}

.bs-accordion{
    margin: 20px;
}
.accordion .fa{
    margin-right: 0.5rem;
}

.font-responsive{
    font-size: 1.2vw;
}

.icon-bar {
  position: fixed;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}